In [2]:
import pandas as pd

In [3]:
df = pd.read_json('/home/qid/minghanli/HC3D_simulator/tasks/DT_miniGPT/results/miniGPT_teacher_random_reward_strategy_1_15/val_seen_result.json')

In [4]:
df

      instr_id                                         trajectory
0        11270  [[be1a38f2bec74de79395d0a938234d38, 0.0, 0.0, ...
1        11271  [[be1a38f2bec74de79395d0a938234d38, 0.0, 0.0, ...
2        11272  [[be1a38f2bec74de79395d0a938234d38, 0.0, 0.0, ...
3         5510  [[373c50dfa27649188f8e5b66c28f10a7, 1.04719755...
4         5511  [[373c50dfa27649188f8e5b66c28f10a7, 1.04719755...
...        ...                                                ...
1016     39381  [[4f232bec0d894e798b504ccb73b0eed8, 3.14159265...
1017     39382  [[4f232bec0d894e798b504ccb73b0eed8, 3.14159265...
1018     23070  [[df9d294a3f8849f6ab267f658847f700, 5.75958653...
1019     23071  [[df9d294a3f8849f6ab267f658847f700, 5.75958653...
1020     23072  [[df9d294a3f8849f6ab267f658847f700, 5.75958653...

[1021 rows x 2 columns]